<!--index.ejs-->
<div class="container">
    <td><button class="btn btn-primary"  onclick="javascript:location.href='/token/create'" > Back to Admin Homepage</button> </td>
    <tr> <button class="btn btn-primary"  onclick="javascript:location.href='/token/create'" > Create A New Coupon</button></tr>

    <table class="table table-striped">
        <tr>
            <td>
                <a class="nav-link">
                    <b>ID</b>
                </a>
                </td>
          

            <td>
                    <a class="nav-link">
                        <b>Mall</b>
                    </a>
                </td>


            <td>
                <a class="nav-link">
                    <b>Type</b>
                </a>
            </td>
            <td>
                <a class="nav-link">
                    <b>Coupon</b>
                </a>
            </td>
            <td>
                <a class="nav-link">
                    <b>Valid From</b>
                </a>
            </td>
            <td>
                <a class="nav-link">
                    <b>Valid To</b>
                </a>
            </td>
           
            <td></td>
            <td></td>
            <% tokens.forEach( function(model) { %>
                <tr>
                    <td>
                        <a class="nav-link">
                            <%= model.id %>
                        </a>
                    </td>

                    <td>
                            <a class="nav-link">
                                <%= model.mall%>
                            </a>
                        </td>

                    <td>
                            <a class="nav-link">
                            <%= model.type%>
                        </a>
                    </td>
                    <td>
                            <a class="nav-item nav-link" href="http://localhost:1337/token/detail/<%= model.id %>">
                            <%= model.name%> 
                        </a>
                    </td>
                    <td>
                        <a class="nav-link">
                            <%= model.validTo%> 
                        </a>
                    </td>
                    <td>
                        <a class="nav-link">
                            <%= model.validFrom%> 
                        </a>
                    </td>
                    <td>
                        <a class="nav-item nav-link" href="update/<%= model.id %>">Update</a>
                    </td>

                   
                
                    <% }); %>
</div>

<script>
      
</script>