<!--index.ejs-->
<div class="container">
        <td><button class="btn btn-primary"  onclick="javascript:location.href='/mall/create'" > Back to Admin Homepage</button> </td>
        <tr> <button class="btn btn-primary"  onclick="javascript:location.href='/mall/create'" > Add A New Shooping Mall</button></tr>
    
        <table class="table table-striped">
            <tr>
                <td>
                    <a class="nav-link">
                        <b>ID</b>
                    </a>
                    </td>
              
    
                <td>
                        <a class="nav-link">
                            <b>District</b>
                        </a>
                    </td>
    
    
                <td>
                    <a class="nav-link">
                        <b>Mall</b>
                    </a>
                </td>
                <td>
                    <a class="nav-link">
                        <b>Parking Fee</b>
                    </a>
                </td>
           
                <td></td>
                <td></td>
                <td></td>
                <% malls.forEach( function(model) { %>
                    <tr>
                        <td>
                            <a class="nav-link">
                                <%= model.id %>
                            </a>
                        </td>
    
                        <td>
                                <a class="nav-link">
                                    <%= model.district%>
                                </a>
                            </td>
    
                        <td>
                            <a class="nav-item nav-link" href="http://localhost:1337/mall/detail/<%= model.id %>">
                                <%= model.name%>
                            </a>
                        </td>
                        <td>
                            <a class="nav-link">
                                <%= model.fee%> 
                            </a>
                        </td>
                        <td> </td>
                        <td>
                            <a class="nav-link">
                                <%= model.validFrom%> 
                            </a>
                        </td>
                        <td>
                            <a class="nav-item nav-link" href="update/<%= model.id %>">Update</a>
                        </td>
    
                       
                    
                        <% }); %>
    </div>
    
    <script>
          
    </script>