<!--index.ejs-->
<div class="container">
        <tr> <button class="btn btn-primary"  onclick="javascript:location.href='/carpark/create'" > Add New Carpark</button></tr>
    
        <table class="table table-striped">
            <tr>
                <td><a class="nav-link"><b>Carpark ID</b></a></td>
                
                <td><a class="nav-link"><b>Mall</b></a></td>
    
                <td><a class="nav-link" ><b>Carpark</b></a></td>

                <td><a class="nav-link"><b>lots</b></a></td>

                <td></td>
                <td></td>
             
                <% carparks.forEach( function(model) { %>
            
                    <tr>
                        <td>
                            <a class="nav-link"><%= model.carparkId%></a>
                        </td>

                        <td>
                            <a class="nav-link"><%= model.mallName%></a>
                        </td>
    
                        <td>
                            <a class="nav-link" href="/offer/index/<%= model.carparkId%>"><%= model.carparkName%></a>
                            </td>
    
                        <td>
                            <a class="nav-item nav-link"><%= model.lots%></a>
                        </td>

                        <td>
                                <button onclick="deleteItem('<%=model.carparkId%>');">Delete</button>
                        </td>
    
                        <td>
                            <a class="nav-item nav-link" href="edit/<%= model.id %>">Edit</a>
                        </td>
    
                       
                    
                        <% }); %>
    </div>
     
    <script>
    function deleteItem(carparkId) {
    
    var r = confirm("Confirm Delete?");
    if (r == true) {
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "/carpark/delete/"+carparkId, true);
        xhr.onload = function () {
            if (xhr.responseText == "Deleted") {
                alert(xhr.responseText);
                location.reload(true);
            }else {
                alert(xhr.responseText);
                }
        }
        xhr.send();
    }
    
    }

    //           function deleteItem(carparkId) {
    // //  var carparkId = document.getElementById("carparkId").value 
    //   var xhr = new XMLHttpRequest();
    //   xhr.open("GET", "/carpark/delete/"+carparkId, true);
    //   xhr.onload = function () {
    //     if (xhr.responseText == "Deleted") {
    //         alert(xhr.responseText);
    //         location.reload(true);
    //     }
    //     else {
    //       alert(xhr.responseText);
    //     }
    //   }
    //   xhr.send();
    // }
    </script>