<!--index.ejs-->
<div class="container">
        <tr> <button class="btn btn-primary"  onclick="javascript:location.href='/carpark/create'" > Add New Carpark</button></tr>
    
        <table class="table table-striped">
            <tr>
                <td>
                    <a class="nav-link">
                        <b>Carpark ID</b>
                    </a>
                    </td>
              
    
                <td>
                    <a class="nav-link">
                        <b>Carpark Name</b>
                    </a>
                </td>
    
    
                <td>
                    <a class="nav-link">
                        <b>lots</b>
                    </a>
                </td>

                <td></td>
                <td></td>
                <td></td>
             
                <% carparks.forEach( function(model) { %>
                    <tr>
                        <td>
                            <a class="nav-link">
                                <%= model.carparkId %>
                            </a>
                        </td>
    
                        <td>
                                <a class="nav-link">
                                    <%= model.carparkName%>
                                </a>
                            </td>
    
                        <td>
                            <a class="nav-item nav-link">
                                <%= model.lots%>
                            </a>
                        </td>

                        <td></td>
                        <td>
                                <a class="nav-item nav-link" href="edit/<%= model.id %>">Delete</a>
                        </td>
    
                        <td>
                            <a class="nav-item nav-link" href="edit/<%= model.id %>">Edit</a>
                        </td>
    
                       
                    
                        <% }); %>
    </div>
    
    <script>
          
    </script>